APP_NAME=Pickntruck
APP_ENV=local
APP_KEY=base64:VaUyObzNSdVtvkmbVE5w3GH520msNnp3vQCvvlAMN2o=
APP_DEBUG=true
APP_TIMEZONE=UTC
APP_URL=http://localhost

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file
# APP_MAINTENANCE_STORE=database

PHP_CLI_SERVER_WORKERS=4

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=localhost
DB_PORT=3306
DB_DATABASE=u556487000_apppickn
DB_USERNAME=u556487000_marior
DB_PASSWORD=Diadelpadre2024

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=log
BROADCAST_DRIVER=pusher
PUSHER_APP_ID="1948403"
PUSHER_APP_KEY="83c82d976ae538fb4636"
PUSHER_APP_SECRET="d8cc08b8861c586119ba"
PUSHER_APP_CLUSTER="us2"

FILESYSTEM_DISK=local
QUEUE_CONNECTION=database

CACHE_STORE=database
CACHE_PREFIX=

MEMCACHED_HOST=127.0.0.1

REDIS_CLIENT=phpredis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=log
MAIL_SCHEME=null
MAIL_HOST=127.0.0.1
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

VITE_APP_NAME="${APP_NAME}"

GOOGLE_MAPS_API_KEY=AIzaSyDg5hWgPIKdJBMjLodd5Ttu-f6JRSsw8fY

# Configuración de Broadcasting
BROADCAST_DRIVER=pusher

# Configuración de Pusher (solo las variables necesarias para Pusher Cloud)
PUSHER_APP_ID=2027843
PUSHER_APP_KEY=c9ddeda02d7e324b1ef2
PUSHER_APP_SECRET=c95640b7852b6677833a
PUSHER_APP_CLUSTER=sa1

# Cambia estas variables para usar VITE en lugar de MIX
VITE_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
VITE_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"


