<IfModule mod_mime.c>
    AddType application/pdf .pdf
    AddType text/html .html
</IfModule>

<IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin "*"
    Header set X-Content-Type-Options "nosniff"
</IfModule>

Allow from all
