<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Corregir ruta /empresas específicamente
    RewriteRule ^empresas$ empresas/ [L,R=301]
    
    # Tratar /empresas/ como una ruta que debe ir al index.php
    RewriteRule ^empresas/$ index.php [L]

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Send Requests To Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>

# Evita que el navegador intente adivinar el tipo de contenido
<IfModule mod_headers.c>
    Header set X-Content-Type-Options "nosniff"
</IfModule>
